.footer {
    height: 55px;
    background: #0067A3;
    display: flex;
    color: #FFFF;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}


.counts {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-around;
}


.count {
    margin-right: 20px;
}