.dropDown {
    background-color: white;
    color: black;
    width: 130px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
    text-align: start;
    padding: 3px 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: -60px;
}

.menuItem:hover {
    text-decoration: underline;
    cursor: pointer;
}